<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= homeCont %></p>

<% for (let i = 0; i < posts.length; i++) {  %>
<div class="card mb-3" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title"><%= posts[i].title %></h5>
        <p class="card-text"><%= _.truncate(posts[i].content, {'length': 100, 'separator': ' ' });%>
            <a href=<%= "/posts/" + _.kebabCase(_.lowerCase(_.toLower(posts[i].title))) %> class=""> Read More</a>
        </p>
    </div>
</div>
<% } %>

<% if (showAlert) {  %>



<div class="alert alert-success alert-dismissible fade show animate__animated animate__backInLeft" role="alert">
    <i class="bi-check-circle-fill"></i>
    <strong>Karaosmanoglu ailesi!</strong> yeni uyelerini bekliyooor.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<% } %>


<%- include("partials/footer"); -%>