<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= homeCont %></p>
<h2 class="display-6">Posts</h2>

<% for (let i = 0; i < posts.length; i++) {  %>
<div class="card mb-3" style="width: 100%;">
    <div class="card-body">
        <div class="hstack gap-2">
            <div>
                <h5 class="card-title"><%= posts[i].title %></h5>
                <p class="card-text"><%= _.truncate(posts[i].content, {'length': 100, 'separator': ' ' });%></p>
            </div>
            <div class="ms-auto">
                <a href=<%= "/posts/" + _.kebabCase(_.lowerCase(_.toLower(posts[i].title))) %>
                    class="btn btn-outline-primary" role="button"> Read More</a>
            </div>
        </div>
    </div>
</div>
<% } %>

<% if (showAlert) {  %>
<div class="alert alert-success alert-dismissible fade show animate__animated animate__backInLeft" role="alert">
    <i class="bi-check-circle-fill"></i>
    <strong>Success!</strong> New post published.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<%- include("partials/footer"); -%>